@import "fonts.css"; 
@charset "utf-8";

html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, font, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td {margin: 0;padding: 0;border: 0;outline: 0;font-size: 100%;vertical-align: baseline;background: transparent;}
body {line-height: 1;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,q:before, q:after {content: '';content: none;} /* remember to define focus styles! */ :focus {outline: 0;} 
/* remember to highlight inserts somehow! */
ins {text-decoration: none;}
del {text-decoration: line-through;}
/* tables still need 'cellspacing="0"' in the markup */ 
table {border-collapse: collapse;border-spacing: 0;}

/*body styles and settings */
body {
	background: #fff;
	width: 100%;
	margin: 0 auto;
	text-align: center;
	background-color: #fff;
	overflow:-moz-scrollbars-horizontal;
	margin-bottom: 100px;
}

.nav{
	text-align: left;
	width: 100%;
  	list-style:none;
}

.nav li{
  	display:inline;
}

.nav a:hover {color: #999}

.nav a{
	padding: 10px;
  	display: inline block;
  	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
 	font-size: 30px;
	color: #777;
  	text-decoration: none;
}

.wrap {margin: 0 auto; width: 100%;}

#guy p {
	width: 465px;
	font-family: "light";
	font-size: 36px;
	margin-top: 20px;
	color: #777;
}

#guy hr {
 	margin-left: 0px;
	width: 200px;
	background-color: #27a9e1;
	border: none;
	height: 3px;
	margin-top: 10px;
}

#girl hr {
 	margin-left: 0px;
	width: 200px;
	background-color: #ff69b4;
	border: none;
	height: 3px;
	margin-top: 1px;
}

#girl h3 {
  	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size: 70px;
	color: #ff69b4;
	margin-top: 20px;
}

#girl {
	width: 480px;
	margin-left: 480px;
	margin-top: -300px;
}

# guy {width: 480px}

#girl p {
	width: 465px;
	font-family: "light";
	font-size: 36px;
	margin-top: 20px;
	color: #777;
}

#guy button {
    width: 300px;
    margin-top: 20px;
    padding: 15px 0;
    color: #fff;
    font-size: 20px;
  	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    letter-spacing: 1px;
    text-align: center;
    text-decoration: none;
        background: -moz-linear-gradient(
        top,
        #27a9e1 0%,
        #27a9e1);
    background: -webkit-gradient(
        linear, left top, left bottom, 
        from(#27a9e1),
        to(#27a9e1));
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #999;
    -moz-box-shadow:
        0px 5px 5px rgba(000,000,000,0.1),
        inset 0px 1px 0px rgba(255,255,255,0.5);
    -webkit-box-shadow:
        0px 5px 5px rgba(000,000,000,0.1),
        inset 0px 1px 0px rgba(255,255,255,0.5);
    box-shadow:
        0px 5px 5px rgba(000,000,000,0.1),
        inset 0px 1px 0px rgba(255,255,255,0.5);
    display: table;
    clear: both;
}

#guy button:hover {
    background: -moz-linear-gradient(
        top,
        #add8e6 0%,
        #add8e6);
    background: -webkit-gradient(
        linear, left top, left bottom, 
        from(#add8e6),
        to(#add8e6));
}

#girl button{
    width: 300px;
    margin-top: 20px;
    padding: 15px 0;
    color: #fff;
    font-size: 20px;
  	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    letter-spacing: 1px;
    text-align: center;
    text-decoration: none;
        background: -moz-linear-gradient(
        top,
        #ff69b4 0%,
        #ff69b4);
    background: -webkit-gradient(
        linear, left top, left bottom, 
        from(#ff69b4),
        to(#ff69b4));
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #999;
    -moz-box-shadow:
        0px 5px 5px rgba(000,000,000,0.1),
        inset 0px 1px 0px rgba(255,255,255,0.5);
    -webkit-box-shadow:
        0px 5px 5px rgba(000,000,000,0.1),
        inset 0px 1px 0px rgba(255,255,255,0.5);
    box-shadow:
        0px 5px 5px rgba(000,000,000,0.1),
        inset 0px 1px 0px rgba(255,255,255,0.5);
    display: table;
    position: static;
    clear: both;
}

#girl button:hover {
    background: -moz-linear-gradient(
        top,
        #ff6a80 0%,
        #ff6a80);
    background: -webkit-gradient(
        linear, left top, left bottom, 
        from(#ff6a80),
        to(#ff6a80));
}
